<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <security>

      <requestFiltering>

        <!--  Limit Upload to 700MB "737280000" -->

        <requestLimits maxAllowedContentLength="3221225472" />

      </requestFiltering>

    </security>

  </system.webServer>

</configuration>